<nav class="navbar navbar-expand-lg navbar-light bg-light px-3 shadow-sm">
  <a class="navbar-brand fw-bold" routerLink="/">🎫 Evento</a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a class="nav-link" routerLink="/my-bookings">My Bookings</a>
      </li>
      <li *ngIf="isAdmin"><a class="nav-link" routerLink="/admin">Admin</a></li>
    </ul>

    <ul class="navbar-nav ms-auto">
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <span class="nav-link">Welcome, {{ userName }}</span>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <button class="btn btn-outline-danger btn-sm" (click)="logout()">
          Logout
        </button>
      </li>
      <li class="nav-item d-flex" *ngIf="!authService.isLoggedIn()">
        <a class="nav-link me-2" routerLink="/login">Login</a>
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
    </ul>
  </div>
</nav>
